Source: kingston-update-notifier
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>, Kai Wasserbäch <curan@debian.org>
Build-Depends: debhelper (>= 8), cmake (>= 2.6.3~), kdelibs5-dev,
 kdebase-workspace-dev
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/pkg-kde/kingston.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kingston.git;a=summary

Package: update-notifier-kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, update-notifier-common
Recommends: anacron
Description: update notifier for the KDE Plasma Desktop
 This package contains a module to notify the user when there is a need for an
 upgrade or a security upgrade.
