[Desktop Entry]
Name=Update notifier
Name[de]=Aktualisierungs-Notifier
Name[hu]=Frissítésfigyelő
Type=Service
Comment=Notifies user when there are updates available
Comment[de]=Benachrichtigt den Benutzer, wenn Aktualisierungen verfügbar sind.
Comment[hu]=Értesít, ha a rendszer frissíthető.
Comment[fr]=Prévient l'utilisateur lorsque des mises à jour sont disponibles.
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kingston_update_notifier
X-KDE-DBus-ModuleName=kingston_update_notifier
X-KDE-Kded-autoload=true
